body {
  font-family: sans-serif;
  margin: 10px;
  background-color: #eaebef;
}

main {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 950px;
}

menu a {
  padding: 0.5em 1em;
  background: #c7cbd5;
  border-radius: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: black;
}

menu a:hover {
  background: #ccc;
}

menu a.active {
  background: #333;
  color: white;
}

pre > code {
  max-width: 950px;
  overflow-x: scroll;
  border-radius: 0.5em;
}

.spinner {
  width: 22px;
  height: 22px;
  border: 5px solid #f3f3f3; /* Light gray */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191b21;
    color: #ffffff;
  }

  menu a {
    background-color: #262932;
    color: #b1b6c4;
  }

  menu a:hover {
    background-color: #2f333e;
  }
}
