/* define var for bg color */
:root {
  --bg-color: #eaebef;
  --text-color: #000000;
  --border-color: #c7cbd5;
}

body {
  font-family: sans-serif;
  margin: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

menu {
  padding: 0;
  margin: 0 0 1em 0;
  display: flex;
  justify-content: space-between;
  max-width: 950px;
}

.tabs {
  display: flex;
  gap: 0.5em;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1em;
}

.tabs > .tab {
  padding: 0.5em 1em;
  background: var(--bg-color);
  border-radius: 0.5em 0.5em 0 0;
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font: inherit;
  position: relative;
  top: 1px;
  transition: filter 0.1s ease-in-out;
}

.tabs > .tab:hover {
  filter: brightness(95%);
}
.tabs > .tab.active {
  border-bottom: none;
}

.btn {
  appearance: none;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font: inherit;
  transition: filter 0.1s ease-in-out;
}

.btn:hover {
  filter: brightness(95%);
}

.btn:disabled, .btn:disabled:hover {
  cursor: not-allowed;
  filter: brightness(100%);
  opacity: 0.5;
}

pre > code {
  max-width: 950px;
  overflow-x: scroll;
  border-radius: 0.5em;
}

.spinner {
  width: 16px;
  height: 16px;
  margin: 4px;
  border: 5px solid #f3f3f3; /* Light gray */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #191b21;
    --text-color: #eeeeee;
    --border-color: #3a3e47;
  }
}
