<div class="layout layout--center">
  <span class="value value--xxlarge value--tnums">{{ fetched_count }}</span>
  <span class="label">Top HN Stories</span>
</div>

<div class="title_bar">
  <span class="title">Hacker News</span>
</div>
