# Source: https://docs.docker.com/build/ci/github-actions/multi-platform/

name: Build and push image to Docker Hub

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get Ruby Version
        run: echo "RUBY_VERSION=$(cat .ruby-version)" >> $GITHUB_ENV

      - name: Build
        uses: docker/build-push-action@v6
        with:
          build-args: |
            RUBY_VERSION=${{ env.RUBY_VERSION }}
          platforms: |
            linux/amd64
            linux/arm64
          push: true
          tags: |
            trmnl/trmnlp:latest
            trmnl/trmnlp:${{ github.ref_name }}
